Dear $appUser.getDisplayName(),<br>
 You can click on following link to reset your password :
 <br><br>
 $passwordResetUrl
 <br><br>
 This link will expire in 72 hours.<br>
 Thanks,  <br>
 $appName<br>
 $appUrl