  <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Recent
                  </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

 <div class="row">
{{#each posts as |post|}}
 <div class="row">
 {{#if post.isTask}}
 {{task-item item=post updateTask="saveTask" deletePost="deletePost" group=model }}
 {{else if post.isPost}}
{{post-item item=post updatePost="savePost" deletePost="deletePost" group=model }}
{{/if}}
</div>   
{{/each}}

{{#if noRecords}}
 <div class="row">
Post not found
 </div>
 {{/if}}
</div>            