<div placeholder="{{placeholder}}" contenteditable="true" id="ember542" 
		style="display: table;width: 50%;" class="col-md-8 col-sm-8 col-lg-8 contenteditable form-control {{className}}" disabled={{disabled}}>
</div>
{{#if showScheduleBtn}}
<div class="col-md-3 col-sm-3 col-lg-3">
		<button class="btn btn-success">Yes</button>
		<button class="btn btn-info">May Be</button>
		<button class="btn btn-danger">No</button>
</div>
{{/if}}

