<!DOCTYPE html>
<html>
<body>
	<table
		style="width: 100%; background-color: #f5f8fa; margin: 0px; padding: 0px"
		cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td style="margin: 0px; padding: 0px" align="center">
					<table class="m_-1580260173082337911wrapper"
						style="margin: 0px; padding: 0px; width: 448px" cellspacing="0"
						cellpadding="0" border="0">

						<tbody>
							<tr>
								<td style="margin: 0px; padding: 0px" align="center">
									<table style="width: 100%; margin: 0px; padding: 0px"
										cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td style="height: 24px; margin: 0px; padding: 0px"
													height="24"></td>
											</tr>
											<tr>
												<td style="margin: 0px; padding: 0px" align="center">
													<table style="margin: 0px; padding: 0px" cellspacing="0"
														cellpadding="0" align="center" border="0">
														<tbody>
															<tr>
																<td style="margin: 0px; padding: 0px; align-content:;"
																	align="center">

																	<table style="margin: 0px; padding: 0px"
																		cellspacing="0" cellpadding="0" align="center"
																		border="0">
																		<tbody>
																			<tr>
																				<td
																					style="margin: 0px; padding: 0px; width: 20%; align-content:;"
																					align="center"><a href=""
																					style="margin: 0px; padding: 0px; text-decoration: none"><img
																						alt="AllSchool"
																						src="$appUrl/img/allshcool_logo.png"
																						style="width: 28px; margin: 0px; padding: 0px; display: block; border: none; outline: none"
																						class="CToWUd" width="28"></a></td>
																				<td class="m_-1580260173082337911header"
																					style="margin: 0px; padding: 0px; font-family: 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; color: #292f33; font-size: 21px; line-height: 21px; padding: 0px; margin: 0px; white-space: nowrap">
																					<a href="$appUrl" style="text-decoration: none; color: #292f33;">$appName</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>

																</td>
															</tr>
															<tr>
																<td style="height: 6px; margin: 0px; padding: 0px"
																	height="6"></td>
															</tr>
															<tr align="center">
																<td class="m_-1580260173082337911header"
																	style="margin: 0px; padding: 0px; font-family: 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; font-weight: 300; color: #292f33; font-size: 15px; line-height: 21px; padding: 0px; margin: 0px; white-space: nowrap">
																	New Notification</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td style="height: 24px; margin: 0px; padding: 0px"
													height="24"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>



							<tr>
								<td style="margin: 0px; padding: 0px" align="center">

									<table
										style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
										cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td class="m_-1580260173082337911full_tweet_box"
													style="margin: 0px; padding: 0px; border: 1px solid #e1e8ed; background-color: #ffffff; border-radius: 4px">
													<table
														style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
														cellspacing="0" cellpadding="0" border="0">
														<tbody>
															<tr>
																<td style="margin: 0px; padding: 0px">
																	<table
																		style="min-width: 100%; width: 100%; border-bottom: 1px solid #e1e8ed; margin: 0px; padding: 0px"
																		cellspacing="0" cellpadding="0" border="0">
																		<tbody>
																			<tr>
																				<td style="height: 12px; margin: 0px; padding: 0px"
																					height="12"></td>
																			</tr>
																			<tr>
																				<td style="margin: 0px; padding: 0px">
																					<table
																						style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																						cellspacing="0" cellpadding="0" border="0">
																						<tbody>
																							<tr>
																								<td
																									class="m_-1580260173082337911social_proof_margin_lr"
																									style="margin: 0px; padding: 0px; width: 24px"
																									width="24"></td>
																								<td style="margin: 0px; padding: 0px">
																									<table
																										style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																										cellspacing="0" cellpadding="0" border="0">
																										<tbody>
																											<tr>
																												<td
																													class="m_-1580260173082337911social_proof_title"
																													style="margin: 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 12px; line-height: 16px; color: #292f33; letter-spacing: 0.5px;">

																													<a
																													href="$loginUrl/group/$notification.getGroupId()/posts"
																													style="margin: 0px; padding: 0px; text-decoration: none;"
																													target="_blank">
																														$notification.getGroupName() </a>
																												</td>
																											</tr>

																										</tbody>
																									</table>
																								</td>
																								<td
																									class="m_-1580260173082337911social_proof_margin_lr"
																									style="margin: 0px; padding: 0px; width: 24px"
																									width="24"></td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td style="height: 12px; margin: 0px; padding: 0px"
																					height="12"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="m_-1580260173082337911full_tweet_margin_tb"
																	style="margin: 0px; padding: 0px; height: 24px"
																	height="24"></td>
															</tr>

															<tr>
																<td style="margin: 0px; padding: 0px">
																	<table class="parent"
																		style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																		cellspacing="0" cellpadding="0" border="0">
																		<tbody>
																			<tr>
																				<td
																					class="m_-1580260173082337911full_tweet_margin_lr"
																					style="margin: 0px; padding: 0px; width: 24px"
																					width="24"></td>

																				<td style="margin: 0px; padding: 0px">
																					<table
																						style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																						cellspacing="0" cellpadding="0" border="0">
																						<tbody>
																							<tr>
																								<td style="margin: 0px; padding: 0px">


																									<table
																										style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																										cellspacing="0" cellpadding="0" border="0">
																										<tbody>
																											<tr>
																												<!--
<td style="margin:0px;padding:0px" width="32"><a href="" style="margin:0px;padding:0px;text-decoration:none" target="_blank" ><img alt="avatar" src="" class="m_-1580260173082337911user_avatar_img CToWUd" style="margin:0px;padding:0px;display:block;border:none;outline:none;padding:0px;margin:0px;width:32px;height:32px;border-radius:4px" width="32" height="32"></a></td>

<td style="width:10px;margin:0px;padding:0px" width="10"></td>
-->
																												<td style="margin: 0px; padding: 0px">
																													<table style="margin: 0px; padding: 0px"
																														cellspacing="0" cellpadding="0" border="0">
																														<tbody>
																															<tr>
																																<td style="margin: 0px; padding: 0px">
																																	<a href="javascript:void(0);"
																																	style="margin: 0px; padding: 0px; text-decoration: none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px; font-weight: bold; color: #292f33; padding: 0px; margin: 0px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
																																		$post.getCreatedByName() </a>
																																</td>
																															</tr>

																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																							<tr>
																								<td
																									style="height: 14px; margin: 0px; padding: 0px"
																									height="14"></td>
																							</tr>
																							<tr>
																								<td style="margin: 0px; padding: 0px">


																									<table
																										style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																										cellspacing="0" cellpadding="0" border="0">
																										<tbody>
																											<tr>
																												<td style="margin: 0px; padding: 0px">
																													<table
																														style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																														cellspacing="0" cellpadding="0" border="0">
																														<tbody>
																															<tr>
																																<td
																																	class="m_-1580260173082337911full_tweet_text"
																																	style="margin: 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #31373b; padding: 0px; margin: 0px">
																																	$post.getComment()</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																							<tr>
																								<td
																									style="height: 8px; margin: 0px; padding: 0px"
																									height="8"></td>
																							</tr>

																							<tr>
																								<td dir="ltr" style="margin: 0px; padding: 0px">


																									<table
																										style="min-width: 100%; width: 100%; margin: 0px; padding: 0px"
																										dir="ltr" cellspacing="0" cellpadding="0"
																										align="left" border="0">
																										<tbody>
																											<tr>
																												<td style="margin: 0px; padding: 0px"
																													valign="middle">
																													<table dir="ltr"
																														style="margin: 0px; padding: 0px"
																														cellspacing="0" cellpadding="0"
																														align="left" border="0">
																														<tbody>
																															#foreach($file in $post.getFiles())
																															<tr>
																																<td style="width: 100%;"><a
																																	href="$loginUrl/group/post/$post.getId()"
																																	style="margin: 0px; padding: 0px; text-decoration: none; color: #2398e1;"
																																	target="_blank"> $file.getName() </a></td>

																															</tr>
																															#end
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																				<td
																					class="m_-1580260173082337911full_tweet_margin_lr"
																					style="margin: 0px; padding: 0px; width: 24px"
																					width="24"></td>

																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="m_-1580260173082337911full_tweet_margin_tb"
																	style="margin: 0px; padding: 0px; height: 24px; text-align: center;"
																	height="24"><span
																	style="margin-top: 5px; border-radius: 3px; background-color: #0772b2; height: 27px; display: inline-block;">
																		<a href="$loginUrl/group/post/$post.getId()"
																		style="font-size: 13px; font-family: Arial, Helvetica, sans-serif; border-radius: 3px; text-decoration: none; padding: 8px 20px; display: inline-block; color: #fff;"
																		target="_blank">View Post</a>
																</span></td>
															</tr>

															<tr>
																<td class="m_-1580260173082337911full_tweet_margin_tb"
																	style="margin: 0px; padding: 0px; height: 24px"
																	height="24"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td class="m_-1580260173082337911module_space"
													style="margin: 0px; padding: 0px; height: 20px" height="20"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="margin: 0px; padding: 0px">Thank you for using
									$appName.<br> For any queries contact $supportEmail.<br>
									If you no longer want to receive some of $appName's
									notification emails, please <a href="$loginUrl/profile">click
										here</a> to adjust your notification settings. This email was sent
									by $appName. All right reserved by <a href="$appUrl">$appUrl</a>.
								</td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>